<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body>
    <div class="login-dark">
        <form>
            <h5>ABOUT</h5> <hr style="background-color:white;" >
            <p>NFS Gui for Raspberry Pi</p>
            <p>Was designed by <a href="#">zealous works</a></p>
            <p>This app was designed to set a machine as Server/Client in a local network using NFS shared network. <br> To set several folders to share by Server/Client use this application for sharing that folder. <br>This application is developed for free.</p>
            <p>Selectedip = {{ip}}, selectedfile = {{file}}</p>

            
            
            <a href="/" style="text-decoration:none;">Go to Index</a>
        </form>

    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>