<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body>
    <div class="login-dark" >
        <form action="{{url_for('setClient',ip=ip,file=file, folder=folder)}}">
            <h3 class="text-center">Select the Server</h3>
            <input class="form-control is-invalid" type="text" name="ip" placeholder="For example: 10.10.3.72" method="post">
            <!--select class="form-control">
                <optgroup label="Select the server" style="color:black;">
                    <option value="12" selected="">Server 1</option>
                    <option value="13">Server 2</option>
                    <option value="14">Server 3</option>
                </optgroup>
            </select-->
            <div class="form-group"></div>
    <h5>Full path of the Server's folder shared.</h5>
    <input class="form-control is-invalid" type="text" name="file" placeholder="For example: /home/pi/media">
    
    <div class="form-group"></div>
    <h5>Choose the path you want to keep your folder.</h5>
    <div class="form-group">
        <input class="form-control is-invalid" type="text" name="folder" placeholder="For example: /home/pi/Ama">
        
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Set machine as client </button>
    </div>
    <a href="/" style="text-decoration:none;">Go to Index</a>
    </form>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>