<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SusClient</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body>
    <div class="login-dark">
        <form action="{{url_for('serverfolder',file=file)}}" method="post">
            <h5> Succeeded!!!</h5> <hr style="background-color:white;" >
            <p> You have successfully set your machine as Server </p><br>
            <p> Client's IP:  = {{ip}}</p>
            <p> Folder's Shared: = {{file}}</p>
            <p>Click OK to see the files shared</p>
            <p hidden><input name='file'>{{file}}</p> 
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Ok </button>
            </div>
            <a href="/" style="text-decoration:none;">Go to Index</a>
        </form>

    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

